################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XoredTest.Chat/XoredTest.Chat.WebSite/bin
/XoredTest.Chat/XoredTest.Chat.WebSite/obj/Debug
/XoredTest.Chat/XoredTest.Chat.Domain/bin/Debug
/XoredTest.Chat/XoredTest.Chat.Domain/obj/Debug
